# ignorar ficheiros temporarios do R
.RData*
.Rhistory

#ignorar python notebook personal settings
.ipynb_checkpoints/

#ignorar pasta dos datasets
/datasets/
~$Criminality in Chicago_FOR_TOMORROW.pptx
1024px-Star_Plot_of_16_cars.jpg
calendarsafety.PNG
DV2019 - Dataset description (Chicago Crimes).pdf
DV2019 - Project description.pdf
mapidea.PNG
Nuno_preprocesisng.ipynb
NUNODEC.ipynb
NunoDEC1.ipynb
NUNONOV.ipynb
radial-plot_2016.png
ScaleCrimes-veryold.pdf
sports-viz-sunday-top3.png
toptal-blog-image-1528911079271-9ae4277f52fcee6744566cc0d46878ba.png
Untitled.ipynb
shared_datasets/chicago_pop.txt
shared_datasets/indice_socioeconomico_chicago_2008_2012.csv
ALLISON.png
